$primaryColor: #ea6e6e;
$secondaryColor: #F07A1C;
$greyBackground: #F7F7F7;
$paragraphMarginBelow: 40px;

$generalSpacing: 100px;
$leftRightSpacing: 40px;

$condensedText: 450px !important;

$starsMargin: 35px;

