* {
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

html, body {
    margin: 0;
    font-family: 'Georgia', sans-serif;
}

footer {
    padding: unset;
}


p {
    color:blue !important;
    background: red;
    padding: 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
} 


h1 {
    font-family: 'Georg'
}