@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');

* {
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    background: #f8f8f8;
}

footer {
    padding: unset;
}


p {
    color:black;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
} 


h1 {
    font-size: 30px;
    font-weight: 600;
    color: black
}

h5 {
    font-size: 20px;
    color: #ea6e6e;
}

#page {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

.margin-bottom-50 {
    // margin-bottom: 100px;
    border-top: 1px solid lightgray;
    padding: 50px 0;
}

.margin-top-img {
    margin-top: 50px;
}

.align-items-center{
    align-items: center;
}

.wp-block-button__link {
    background: #ea6e6e;
}

@media screen and (max-width: 1000px) {
    // h1 {
    //     font-size: 40px;

    // }
}
@media screen and (max-width: 800px) {
    h1 {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    h1 {
        font-size: 30px;
        width: 260px;
    }
}
