// @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



* {
    box-sizing: border-box;
    font-size: 16px;
}

.display-none {
    display: none;
}

html, body {
    margin: 0;
    font-family: 'Circular-Loom', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

p {
    color: #424242;
    // color: black;
    line-height: 1.8;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-weight: 500;
}

// ul {
//     // margin-top: 40px;
//     list-style: inside;
// }

.color-red {
    color: red;
}

li {
    line-height: 1.8;
    color: $primaryColor;
}

#home-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

// ol li {
//     margin-bottom: 20px;
// }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Circular-Loom', sans-serif;
} 

h1{
    font-size:60px;
    margin-bottom: 30px;
    font-weight: 600;
    color: black
}

h1.intro{
    font-size: 56px;
    font-weight: 600;
    color: black;
    margin: auto;
    margin-bottom: 50px;
}

h5 {
    font-size: 36px;
    // color: $primaryColor;
    color: black;
    font-weight: 300;
    margin-bottom: 40px;
    padding-bottom: 20px;
    // border-bottom: 1px solid black;
    position: relative;
}

h5::after {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    background: black;
}

#page {
    // max-width: 1000px;
    // margin: auto;
    // padding: 0 20px;
    padding: 0;
    width: 100%;
}

.set-width {
    max-width: 1100px;
    margin: auto;
}

.padding-tb-50{ 
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-bottom-50 {
    // margin-bottom: 100px;
    // border-top: 1px solid lightgray;
    padding: 75px 0;
}

.margin-top-img {
    margin-top: 50px;
}

.align-items-center{
    align-items: center;
}

.wp-block-button__link {
    background: $primaryColor;
    min-width: 200px;
    padding: 20px;
    transition: all 0.2s;

}

.wp-block-button__link:hover{
   opacity: 0.8;
   transition: all 0.2s;
}

.portfolio-buttons{
    margin-top: 50px;

}



.ghost-button {
    background: transparent;
    color:$primaryColor;
    border: 2px solid;
}

.ghost-button:hover {
    color:$primaryColor;
    opacity: 0.8
}
.ghost-button:visited {
    color:$primaryColor;
}

// .page.post-234 {
//     height: 100vh;
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     text-align: center;
// }

.margin-top-100 {
    margin-top: 100px;
}

// .bg-elements {
//     height: 100%;
//     width: 100%;
//     position: relative;
// }

// .bg-elements:before {
//     content: "";
//     height: 100%;
//     width: 100%;
//     background: #eaeaea;
//     position: absolute;
//     left: 50px;
//     top: 50px;
//     z-index: -1;
// }

@media screen and (max-width: 1000px) {
    // h1 {
    //     font-size: 40px;

    // }
}
@media screen and (max-width: 800px) {
    h1 {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        width: 400px;
    }
    .type {
        display: none;
    }
}
@media screen and (max-width: 450px) {

    h1 {
        font-size: 40px;
        width: 260px;
    }
}
