.entry-footer {
    display: none;
}

footer {
    height: 100px;
    background: black;
    // margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    // position: sticky;
    // bottom: 0;
    text-align: center;
    margin: auto;
    margin-top: 50px;

    p {
        font-size: 20px;
    font-weight: 500;
    color: white;    
    padding: 20px;

    }
}

footer:hover {
    opacity: 0.8;
    transition: all 0.2s;
}


@media screen and (max-width: 750px) {
    #footer-cta {
        font-size: 14px;
    }
}

