.entry-footer {
    display: none;
}

footer {
    height: 100px;
    background: black;
    // margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p {
        font-size: 25px;
    font-weight: 500;
    color: white;    }
}

footer:hover {
    opacity: 0.8;
}