.entry-footer {
    display: none;
}

footer {
    height: 100px;
    background: black;
    margin-bottom: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 30px;
    }
}