header {
    width: 100%;
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
}

#mobile-menu {
    display: none;
}

.mm-inner {
    display: none;
}


.main-header {
    #main-header-menu {
        width: 100%;
    }
}
.menu-menu-1-container {
    float: left;
    .menu {
        display: flex;
        list-style: none;

        li {
            margin-right: 2em;
            color: white;
            font-weight: bold;
        }
    }
}

