header {
    width: 100%;
    background: black;
    height: 50px;
}

#mobile-menu {
    display: none;
}

.mm-inner {
    display: none;
}

.menu-menu-1-container {

    .menu {
        display: flex;
        list-style: none;

        li {
            margin-right: 2em;
            color: white;
            font-weight: bold;
        }
    }
}

