header {
    width: 100%;
    // background: rgb(228, 228, 228);
    height: 35px;
    display: flex;
    align-items:  center;
    padding: 40px;
    position: fixed;
    top:0;
    z-index: 9999;
    border-bottom: 1px solid black;
    background: transparent;

    
    #main-header-menu-container {
        width: 100%;
        .menu-menu-1-container {
            float: right;
            .menu {
                display: flex;
                list-style: none;
        
                li {
                    // margin-right: 2em;
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        transition: all 0.2s ease-in-out;
                    }
                }

            }
        }
        
        
    }
}

header::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(3px);
    z-index: -1;
}

header {
    #main-header-menu-container {
        .menu-menu-1-container {
            .menu {
                li {
                    a:hover {
                        opacity: 0.8;
                        transition: all 0.2s ease-in-out;
                    }
                }

            }
        }
        
        
    }
}

#header-name {
    color: black;
    font-weight: 400;
    max-width: 300px;
}

#logo {
    max-height: 50px;
    box-shadow: unset !important;
}
    

@media screen and (max-width: 600px) {
    
    header {
        #main-header-menu-container {
            .menu-menu-1-container {
                .menu {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
    
                }
            }
            
            
        }
    }

    #header-name {
        font-size: 14px;
        max-width: 155px;
    }
}

@media screen and (max-width: 420px) {
    
    header {
        padding: 20px;
        #main-header-menu-container {
            .menu-menu-1-container {
                .menu {
                    li {
                        a {
                            font-size: 12px;
                        }
                    }
    
                }
            }
            
            
        }
    }

    #header-name {
        font-size: 12px;
    }
}
