//General 
.banner {
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.quote {
    color: lightgray;
    width: 500px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    font-size: 24px;
}


.home-project-thumbnail {
    width: 500px;
    height: 500px;
}

//general

//home 
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin:auto;
    justify-items: center;
    margin-bottom: 200px;
    text-align: center;
    max-height: 400px;
    overflow: hidden;
    .project {
        transition: all 0.2s ease-in-out;
    }

    .project:hover {
        background-size: 450px;
        transition: all 0.2s ease-in-out;
    }
}



//home 