//General 
.banner {
    // min-height: 100vh;
    min-height: 75vh;
    display: flex;
    align-items:center;
    margin-bottom: -50px;
    justify-content: center;
}

.banner-short{
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-content: center;
}

.quote {
    color: #ea6e6e;
    font-family: 'Lato', serif;
    // width: 550px;
    font-weight: normal;
    // margin: auto;
    // text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-style: italic;
}


.home-project-thumbnail {
    width: 500px;
    height: 500px;
}

img {
    box-shadow: 2px 2px 10px lightgrey;
}

//general

//home 
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin:auto;
    justify-items: center;
    margin-bottom: 100px;
    text-align: center;
    overflow: hidden;
    width: fit-content;
    grid-gap: 50px;

    .project {
        transition: all 0.2s ease-in-out;
        height: 100%;
        width: auto;
        position: relative;
        height: 400px;
        width:400px;
        border: 2px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    .project img {
        transition: all 0.2s ease-in-out;
    }

    .project:hover img {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
    }

    .project::after {
        content: "";
       transition: all 0.2s ease-in-out;
       background: black;
       position: absolute;
       width: 100%;
       height: 100%;
       top:0;
       left:0;
       opacity: 0; 
    }

    .project:hover::after {
         content: "";
         opacity: 0.2;
        transition: all 0.2s ease-in-out;
    }
}

.project-name {
    font-size: 20px;
    color: #ea6e6e;
    font-weight: bold;
}

.home-buttons {
    width: max-content;
    margin: auto;
}

.intro-snippet {
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .project-grid {
        .project {
            height: 300px;
            width: 300px;
        }
    }
}

@media screen and (max-width: 700px) {
    .project-grid {
        display: block;
        .project {
            margin: auto;
        }
    }
}

@media screen and (max-width: 400px) {
    .project-grid {
        .project {
            height: 260px;
            width: 260px;
        }
    }
}
//home 

//story
.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        box-shadow: none;
    }
}

.two-column-grid-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 700px) {
    .two-column-grid {
        display: block;
    }
}
//story